*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
  background-color: #30B868;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  
}

.body{
  background: #f8f9fb;
  color: #222;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
  background: white;
  background-position: center;
  justify-content: space-between;
}
.nav{
  width: 1600px;
  height: 92px;
  padding: 16px 120px;
  display: flex;
  justify-content: center;
  align-items: center ;
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
  
  
}
nav .menu a{
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  width: 365px;
  height: 24px;
  line-height: 152%;
  text-align: center;
  justify-content: center;
  align-items: center;
  
  
}
nav .menu .btn {
  justify-content: flex-end;
  
}

#hero{
  /* border: 1px red; */
  width: 1363px;
height:700px;
padding:5%;
margin:2%;

  display: flex;
  gap:5%;
  justify-content: flex-start;
  align-items: center;

  text-align: center;
  text-transform: capitalize;
  flex-direction: column;
  padding: 20px;
}

.hero-sec{
  background-image: url('./assets/hero-bg.png');
 margin:0px auto;
  width:85%;
  object-fit: cover;
  height:100%;
  width:100%;
  justify-content: center;
  align-items: center;
  display: center;

  position: relative;
 background-position: center;
 background-size: cover;
 
}

#hero .hero-content h1{
 margin-top:10%;
font-size: 72px;
font-weight: 700;
color: rgba(255, 255, 255, 1);
}

.highlight{
  color: rgba(48, 184, 104, 1);
}

#hero .hero-content p{
  font-size:18px ;
  color: rgba(255, 255, 255, 1);
  line-height: 24px;
  font-weight: 400;
  line-height: 32px;
}
#about{
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 16px;
}

#about .about-container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
  color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));

font-style: Bold;
line-height: auto;
letter-spacing: 0%;
text-align: center;

}

#about .section-heading{
  padding: 16px 44px;
  justify-content: space-between;
}

#about .about-container .about-info{
  display: flex;
  justify-content: space-around;

}

#about .info-card-img-box{
      background-color: #F95555;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 0px auto 16px;
    
}
*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}