*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
  background-color: #30B868;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}
.body{
  background: #f8f9fb;
  color: #222;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
}
.nav{
  width: 1600px;
  height: 92px;
  padding: 16px 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center ;
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}
nav .menu a{
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  width: 365px;
  height: 24px;
  line-height: 152%;
  text-align: center;
}
