*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
  background-color: #30B868;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  
}

.body{
  background: #f8f9fb;
  color: #222;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
  background: white;
  background-position: center;
  justify-content: space-between;
}
.nav{
  width: 1600px;
  height: 92px;
  padding: 16px 120px;
  display: flex;
  justify-content: center;
  align-items: center ;
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
  
  
}

nav .menu:hover> :not(:hover){
opacity: .7;
filter: blur(3px)
}


nav .menu a{
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  width: 365px;
  height: 24px;
  line-height: 152%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
  
}
  
  
}
nav .menu .btn {
  justify-content: flex-end;
  
}

#hero{

  width: 1363px;
 height:700px;
 padding:5%;
 margin:2%;

  display: flex;
  gap:5%;
  justify-content: flex-start;
  align-items: center;

  text-align: center;
  text-transform: capitalize;
  flex-direction: column;
  padding: 20px;
}

.hero-sec{
  background-image: url('./assets/hero-bg.png');
 margin:0px auto;
  width:85%;
  object-fit: cover;
  height:100%;
  width:100%;
  justify-content: center;
  align-items: center;
  display: center;

  position: relative;
 background-position: center;
 background-size: cover;
 
}

.hero-sec .early-access{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.822);
    color: #469165;
    border-radius: 20px;
    width: 240px;
    margin: 122px auto 16px;
    border: none;
    transition: 0.3s;
    text-align: center;
    
    
}
#hero .hero-sec .early-access:hover> :not(:hover){
opacity: .7;
background-color: #222;
color: white;
}
.hero-container .early-access img {
    margin-right: 6px;
    justify-content: space-between;
    
}

#hero .hero-content h1{
 margin-top:10%;
font-size: 72px;
font-weight: 700;
color: rgba(255, 255, 255, 1);
}

.highlight{
  color: rgba(48, 184, 104, 1);
}

#hero .hero-content p{
  font-size:18px ;
  color: rgba(255, 255, 255, 1);
  line-height: 24px;
  font-weight: 400;
  line-height: 32px;
}
#about{
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 16px;
}

#about .about-container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
  color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));

font-style: Bold;
line-height: auto;
letter-spacing: 0%;
text-align: center;

}

#about .section-heading{
  padding: 16px 44px;
  justify-content: space-between;
}

#about .about-container .about-info{
  display: flex;
  justify-content: space-around;
  
}

#about .about-container .about-info .info-card{
  gap: 16;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
  width: 322px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16;
  padding: 24px;
  text-align: center;

}


#about .info-card-img-box{
      background-color: #F95555;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 0px auto 16px;
    
}

.solution {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 45px;
    width: 85%;
    max-width: 1360px;
    
}

.solution-container {
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    width: 85%;
    max-width: 1360px;
    gap: 65px;
    transition: 0.3s;
}

.solution-container .knowledge {
    width: 550px;
    transition: 0.3s;
    height: 550px;
}

.soluction-content {
    transition: 0.3s;
    width: 1360px;
    padding: 33px;
    border-radius: 10px;
}

.soluction-content .the-solution {
    font-size: 16px;
    color: #30B868;
    line-height: 20px;
    margin-bottom: 16px;
}

.soluction-content h2 {
    font-size: 48px;
    margin-bottom: 16px;
    color: #001931;
}

.soluction-content p {
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.soluction-content ul {
    list-style: none;
    
}

.soluction-content ul li {
    font-size: 16px;
    color: #001931;
    line-height: 20px;
    padding: 16px;
    display: flex;
    align-items: center;
}